
.label {
    background-color: #e48913;
}

.well {
    background: #e48913;
}

#output_leaf_fr_nb_commune {
    font-weight: 700;
    padding-bottom: 15px;
}

.p-success>label>span {
    font-weight: 700;
}

.navbar {
    background: #e48913;
    color: blue;
}

.navbar-nav>li:active {
    background: #e48913;
}

.navbar-header:hover {
    color: #777;
}


.navbar-brand:hover {
    color: #777;
    
}

.active {
    /*background: #e48913;*/
}
/*
.label-1 {
    background-color: #5bc0de;
}
.label-2 {
    background-color: #5bc0de;
}
.label-3 {
    background-color: #5bc0de;
}
.label-4 {
    background-color: #5bc0de;
}
.label-5 {
    background-color: #5bc0de;
}
.label-6 {
    background-color: #5bc0de;
}
.label-7 {
    background-color: #5bc0de;
}
.label- {
    background-color: #5bc0de;
}
.label- {
    background-color: #5bc0de;
}
.label- {
    background-color: #5bc0de;
}
.label- {
    background-color: #5bc0de;
}
.label- {
    background-color: #5bc0de;
}
.label- {
    background-color: #5bc0de;
}
.label- {
    background-color: #5bc0de;
}
.label- {
    background-color: #5bc0de;
}
.label- {
    background-color: #5bc0de;
}
.label- {
    background-color: #5bc0de;
}
*/


